<form id="form-voluntarios" enctype="multipart/form-data">
    <div class="form-group">
        <label>NomeJ</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-group">
        <label>Telefone</label>
        <input type="phone" name="TELEFONE" id="TELEFONE" class="form-control">
    </div>
    <div class="form-group">
        <label>Endereço</label>
        <input type="text" name="ENDERECO" id="ENDERECO" class="form-control">
    </div>
    <div class="form-group">
        <label>RG</label>
        <input type="text" name="RG" id="RG" class="form-control">
    </div>
    <div class="form-group">
        <label>E-mail</label>
        <input type="email" name="EMAIL" id="EMAIL" class="form-control">
    </div>
    <div class="form-group">
        <label>Tipo de voluntário</label>
        <select name="TIPO_VOLUNTARIOS_IDTIPO_VOLUNTARIOS" id="TIPO_VOLUNTARIOS_IDTIPO_VOLUNTARIOS" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Usuário</label>
        <select name="USUARIO_IDUSUARIO" id="USUARIO_IDUSUARIO" class="form-control"></select>
    </div>
    <input type="hidden" name="IDVOLUNTARIOS" id="IDVOLUNTARIOS">
</form>