<form id="form-animais" enctype="multipart/form-data">
    <div class="form-group">
        <label>Data de Resgate</label>
        <input type="date" name="DATARESGATE" id="DATARESGATE" class="form-control">
    </div>
    <div class="form-group">
        <label>Sexo</label>
        <input type="set" name="SEXO" id="SEXO" class="form-control">
    </div>
    <div class="form-group">
        <label>Porte</label>
        <input type="text" name="PORTE" id="PORTE" class="form-control">
    </div>
    <div class="form-group">
        <label>Usuário</label>
        <select name="USUARIO_IDUSUARIO" id="USUARIO_IDUSUARIO" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Espécie</label>
        <select name="ESPECIE_IDESPECIE" id="ESPECIE_IDESPECIE" class="form-control"></select>
    </div>
    <input type="hidden" name="IDANIMAIS" id="IDANIMAIS">
</form>