<form id="form-doadores" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nome</label>
        <input type="text" name="NOME" id="NOME" class="form-control">
    </div>
    <div class="form-group">
        <label>Telefone</label>
        <input type="phone" name="TELEFONE" id="TELEFONE" class="form-control">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="email" name="EMAIL" id="EMAIL" class="form-control">
    </div>
    <div class="form-group">
        <label>Usuário</label>
        <select name="USUARIO_IDUSUARIO" id="USUARIO_IDUSUARIO" class="form-control"></select>
    </div>
    <input type="hidden" name="IDDOADORES" id="IDDOADORES">
</form>